body {
  margin: 0.5rem;
  background-color: #ff7f7f;
  color: white;
}

body img {
  display: block;
  float: center;
  position: relative;
  padding: 5rem;
  height: 400px;
  margin: 0 auto;
  padding: 0rem;
  padding-top: 2rem;
}

@font-face {
  font-family: "sdvFont";
  src: url("font/Stardew_Valley.ttf") format("truetype");
}

main {
  font-family: sdvFont, fantasy;
  margin-top: 2vh;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-top: 1em;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, auto); /* Creates two columns */
  place-items: center; /* Centers items both horizontally and vertically */
  gap: 20px; /* Adds space between the buttons */
  justify-content: center; /* Centers the grid horizontally */
}

/* Styles for the buttons */
.buttons #yesButton,
.buttons #noButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Styles for the images */
.buttons img {
  padding: 0;
  display: block;
  height: 100px;
  width: 100px;
}

/* .buttons #yesButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.buttons #noButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.buttons img {
  padding: 0;
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.button {
  display: grid;
  place-items: center;
} */

@media (min-width: 768px) {
  html {
    height: 100%;
  }

  main {
    text-shadow: 1px 1px #153c43;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("../img/splash-xl.jpg");
  }
}
